<div class="row" style="width:100%;">
  {{>navbar}}

  <div class="col-5">
    {{>breadcrumbs}}
    <hr />
    <div class="tweet-reply">
      <div class="account-info d-flex">
        <div>
          <a href="/users/{{tweet.User.id}}/tweets">
            {{#if tweet.User.avatar}}
            <img class="avatar small" src="{{tweet.User.avatar}}">
            {{else}}
            <img class="preset-avatar" src="https://i.imgur.com/iuHA5Qi.jpg">
            {{/if}}
          </a>
        </div>
        <div class="name-account ml-3">
          <div class="user-name">{{tweet.User.name}}</div>
          <div class="atAccount">@{{tweet.User.account}}</div>
        </div>
      </div>
      <p class="tweet-post-text mt-3">{{tweet.description}}</p>
      <div class="time">
        <p>{{momentDay tweet.createdAt}}</p>
      </div>
      <hr />
      <div class="reply-like-count d-flex">
        <div class="reply d-flex mr-4">
          <div class="number">{{tweet.replyCounts}}</div>
          <div class="text">回覆</div>
        </div>
        <div class="like d-flex">
          <div class="number">{{tweet.likeCounts}}</div>
          <div class="text">喜歡次數</div>
        </div>
      </div>
      <hr />
      <div class="d-flex">
        <div class="reply-button mr-5" id="reply" data-toggle="modal" data-target="#exampleModal-reply">
          <i class="far fa-comment"></i>
        </div>
        {{#if tweet.isLiked }}
        <form action="/tweets/{{tweet.id}}/unlike" method="POST">
          <button class="push-button like-icon ml-5" type="submit">
            <i class="fas fa-heart"></i>
          </button>
        </form>
        {{else}}
        <form action="/tweets/{{tweet.id}}/like" method="POST">
          <button class="like-button ml-5" type="submit">
            <i class="far fa-heart"></i>
          </button>
        </form>
        {{/if}}
      </div>
      <hr />
      {{#each tweet.Replies}}
      <div class="tweet col-md-12">
        <div class="d-flex">
          <div class="col-md-2 mt-2 mr-2" style="padding: 0%;">
            <a href="/users/{{this.UserId}}/tweets" class="text-muted">
              {{#if this.User.avatar}}
              <img class="avatar small" src="{{this.User.avatar}}">
              {{else}}
              <img class="preset-avatar" src="https://i.imgur.com/iuHA5Qi.jpg">
              {{/if}}
            </a>
          </div>
          <div class="col-md-10">
            <div class="account-info d-flex" style="flex-auto">
              <div class="user-name">{{this.User.name}}</div>
              <div class="atAccount mb-2 ml-2">@{{this.User.account}}•{{moment
                this.createdAt}}</div>
            </div>
            <div class="reply d-flex">
              <div class="reply-comment">回覆</div>
              <a href="#" class="text-muted">
                <div class="atAccount ml-2">@{{../tweet.User.account}}</div>
              </a>
            </div>
            <div class="post-text d-flex mt-3" style="flex-auto">{{this.comment}}</div>
          </div>
        </div>
      </div>
      <hr />
      {{/each}}
    </div>
  </div>

  {{>popular}}
</div>

{{>replyModal}}