<div class="row" style="width:100%;">
  {{>navbar}}

  <div class="middle-side col-md-5">
    {{>breadcrumbs}}
    {{>userProfile}}
    <br>
    
    <div class="text-info-users">
      {{>userTabs}}
      <div class="user-tweet">
        {{#if userTweets}}
        {{#each userTweets}}
        <div class="tweet col-md-12">
          <div class="d-flex">
            <div class="mt-2 mr-2 col-md-2" style="padding: 0%;"><a href="/users/{{../user.id}}/tweets"
                class="text-muted">
                {{#if ../this.user.avatar}}
                <img class="avatar small" src="{{../this.user.avatar}}">
                {{else}}
                <img class="preset-avatar" src="https://i.imgur.com/iuHA5Qi.jpg">
                {{/if}}
              </a>
            </div>
            <div class="col-md-10 mt-2">
              <div class="account-info d-flex" style="flex-auto">
                <div class="user-name">{{../this.user.name}}</div>
                <div class="atAccount mb-2 ml-2">@{{../this.user.account}}•{{moment
                  this.createdAt}}</div>
              </div>
              <a href="/tweets/{{this.id}}/replies" class="text-muted">
                <div class="post-text d-flex mt-1" style="flex-auto">{{this.description}}</div>
              </a>
              <div class="reply-like d-flex mt-2">
                <div class="reply-button mr-2">
                  <i class="far fa-comment mr-2"></i>
                  {{this.replyCounts}}
                </div>
                {{#if this.isLiked }}
                <form action="/tweets/{{this.id}}/unlike" method="POST">
                  <button class="push-button like-icon ml-4" type="submit">
                    <i class="fas fa-heart"></i>
                    <span class="ml-2">{{ this.likeCounts }}</span>
                  </button>
                </form>
                {{else}}
                <form action="/tweets/{{this.id}}/like" method="POST">
                  <button class="like-button ml-4" type="submit">
                    <i class="far fa-heart"></i>
                    <span class="ml-2">{{ this.likeCounts }}</span>
                  </button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <hr />
        {{/each}}
        {{else}}
        <div class="mt-4">使用者目前沒有任何推文!</div>
        {{/if}}
      </div>
    </div>

  </div>

  {{>popular}}
</div>

