<div class="row" style="width:100%;">
  {{>navbar}}
  
  <div class="middle-side col-md-5">
    {{>breadcrumbs}}
    {{>userProfile}}
    <br>
    <div class="text-info-users">
      {{>userTabs}}
      <div class="user-tweet">
        {{#if user.Replies}}
        {{#each user.Replies}}
        <div class="tweet col-md-12">
          <div class="d-flex">
            <div class="mt-2 mr-2 col-md-2" style="padding: 0%;"><a href="/users/{{../user.id}}/tweets"
                class="text-muted">
                {{#if ../user.avatar}}
                <img class="avatar small" src="{{../user.avatar}}">
                {{else}}
                <img class="preset-avatar" src="https://i.imgur.com/iuHA5Qi.jpg">
                {{/if}}
              </a>
            </div>
            <div class="col-md-10 mt-2">
              <div class="account-info d-flex" style="flex-auto">
                <div class="user-name">{{../user.name}}</div>
                <div class="atAccount mb-2 ml-2">@{{../user.account}}•{{moment
                  this.createdAt}}</div>
              </div>
              <div class="reply d-flex">
                <div class="reply-text">回覆</div>
                <a href="/users/{{this.Tweet.User.id}}/tweets" class="text-muted">
                  <div class="reply-text atAccount ml-1">@{{this.Tweet.User.account}}</div>
                </a>
              </div>
              <a href="/tweets/{{this.TweetId}}/replies" class="text-muted">
                <div class="post-text d-flex mt-2" style="flex-auto">{{this.comment}}</div>
              </a>
            </div>
          </div>
        </div>
        <hr />
        {{/each}}
        {{else}}
        <div class="mt-4">使用者目前沒有回應任何推文!</div>
        {{/if}}
      </div>
    </div>
  </div>

  {{>popular}}
</div>

{{> editUserModal }}